/* .container {
  display: flex;
  justify-content: center;
  align-content: center;
} */

.hiddenButton1 {
  width: 220px;
  height: 220px;
  position: absolute;
  z-index: 1;
  top: 12%;
  left: 41%;
  opacity: 0;
}

.hiddenButton2 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 4;
  top: 60.5%;
  left: 46.5%;
  opacity: 0;
}

.pirateText {
  font-family: 'Cinzel', serif;
  text-align: center;
}

.fadeIn {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
  }

.fadeInFast {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  }


  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }